<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Veículo</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="AlgaWorks"
					src="/images/logo.png" />
				</a>
			</div>
		</div>
	</nav>

	<form>
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Novo Veículo</h1>
				</div>
				<div class="row col-sm-offset-1" style="margin-top: 10px;">

			
					<div class="form-group col-md-2">
						<label for="fabricante">Fabricante</label> 
						<input type="text" class="form-control" id="fabricante" placeholder="Fabricante" />
					</div>
					<div class="form-group col-md-2">
						<label for="modelo">Modelo</label> 
						<input type="text" class="form-control" id="modelo" placeholder="Modelo" />
					</div>
					<div class="form-group col-md-2">
						<label for="cor">Cor</label> 
						<input type="text" class="form-control" id="cor" placeholder="Cor" />
					</div>
					<div class="form-group col-md-2">
						<label for="placa">Placa</label> 
						<input type="text" class="form-control" id="placa" placeholder="Placa" />
					</div>				
				</div>

				<div class="row">
					<div class="col-sm-offset-2  col-sm-10">
						<div class="form-group col-md-2">
							<label for="combustivel">Combustivel</label> 
							<input type="text" class="form-control" id="combustivel" placeholder="Combustivel" />
						</div>
						
						<div class="form-group col-md-2">
							<label for="ano-modelo">Ano</label> 
							<input type="text" class="form-control" id="ano-modelo" placeholder="Ano Modelo" />
						</div>
						<div class="form-group col-md-2">						
								<label for="km">KM</label> 
								<input type="text" class="form-control" id="km" placeholder="KM" />						
						</div>
					</div>
				</div>
				<div class="row" style="margin-bottom: 10px;">
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-10">
							<button type="submit" class="btn btn-primary">Salvar</button>
							<button type="submit" class="btn btn-danger">Cancelar</button>
							<button type="submit" class="btn btn-success">Checklist</button>
						</div>
					</div>
				</div>
			</div>	
		
		</div>
	</form>

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>